<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2021 by David Phillip Oster &lt;mailto:david@turbozen.com&gt;</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSServiceDescription</key>
			<string>Evaluate numeric expression</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Evaluate Expression</string>
			</dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>*</string>
			</dict>
			<key>NSMessage</key>
			<string>doEvaluateService</string>
			<key>NSPortName</key>
			<string>EvaluateService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>1</string>
			<key>NSWordLimit</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
